atomicwrites==1.3.0
attrs==19.3.0
colorama==0.4.1
more-itertools==8.0.0
packaging==19.2
pluggy==0.13.1
py==1.8.0
pyparsing==2.4.5
pytest==5.1.1
selenium==3.14.0
six==1.13.0
urllib3==1.25.7
wcwidth==0.1.7

# ќткройте терминал, перейдите в директорию, в которой вы работаете с автотестами, и активируйте виртуальное окружение.
ѕосле чего выполните в терминале команду:
pip freeze > requirements.txt

Ёта команда сохранит все версии пакетов в специальный файл requirements.txt.

pip install -r requirements.txt
¬ свежем окружении все пакеты установлены одной командой!